<template>
  <div>
    <h2>User Page</h2>
    <p v-for="user in users" :key='user.id'>
      <router-link :to="{
          name: 'UserSingle',
          params: {
            id: user.id
          },
        }">
        {{ user.id }} {{ user.name }}
      </router-link>
    </p>
  </div>
</template>

<script>
export default {
    data() {
        return {
            users: [
                {id:1, name:'PK'},
                {id:2, name:'Phalakorn'},
                {id:3, name:'PP'},
                {id:4, name:'P'},
                {id:5, name:'K'},
            ]
        }
    },
};
</script>