<template>
  <div>
    <router-link :to="{name:'home'}">Home</router-link> |
    <router-link :to="{name:'about'}">About</router-link> |
    <router-link :to="{name:'user'}">User</router-link> |
  </div>
  <p>
    <button @click="$router.go(-1)">Go back 1 Step</button> |
    <button @click="$router.go(1)">Go Forward 1 Step</button> |
    <button @click="$router.push('/about/1')">Redirect</button>
  </p>
  <router-view />
</template>

<style>
  .router-link-exact-active{
    color: blue;
  }
</style>